.menu-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding:0px 20px 0px 20px;
    height:auto;
    vertical-align: middle;
}

.link{
    color:white;
}

.navbar-header-name {
    margin: 0px 40px 0px 20px;
    color: whitesmoke;
    font-family: 'Manrope', serif;
    font-size: 32px;
    text-decoration: none;
}

.navbar-menu-item{
    color: whitesmoke;
    font-size: 18px;
    margin: 0px 10px 0px 10px;
    transition: color 0.4s ease-in-out;
    font-family: 'Manrope', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

a.navbar-menu-item:hover{
    color:#00ffff;
    cursor: pointer;
}


.active{
    color: #00ffff;
    cursor: default;
    font-size: 20npx;
    font-style: bold;
}

.navbar-main{
    padding: 20px 20px 5px 20px;
    margin-top: -25px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:	#09091c;
    border-radius: 15px;
    z-index: 5;
    box-shadow: 0px 1px 7px 2px rgba(0, 255, 255, 0.4);
};

